*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-left: 450px;
    margin-right: 310px;
}
button{
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
}
#sign{
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
}
#i1,#subs{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
#s2{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}
#td2{
text-align: center;
}
#table1{
display: flex;
justify-content: center;
border: solid black 1px;
}
#last{
padding: 10px;
}
#table2{
display: flex;
justify-content: space-around;
}
td{
padding: 10px;
}
@media only screen and (
    max-width: 455px) {
        h1{
            font-size: 20px;
        }
        h2{
            margin-left: 0px;
            margin-right: 0px;
            font-size: 16px;
        }
        tr{
            display: flex;
            flex-direction: column;
        }
        button{
            margin-left: 0px;
        }
        #img2{
            width: 100%;
        }
        #img1{
            display: none;
        }
}